@import "styles/variables.scss";

.container {
  max-width: 1050px;
  padding: 86px 15px 1px 15px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: $mediaWidthMobile) {
    padding: 92px 24px 1px 24px;
  }
}

.logo {
  width: 600px;
  height: 200px;
  background: url(../../assets/Logo.svg) center / cover no-repeat;
  margin: 0 auto 16px auto;

  @media (max-width: $mediaWidthIPadMini) {
    width: 475px;
    height: 150px;
    margin-bottom: 32px;
  }
  @media (max-width: $mediaWidthMobile) {
    width: 100%;
    background-size: 100% 100%;
    height: 104px;
  }
  @media (min-width: $mediaWidthIPad) {
    position: relative;
    left: 20px;
    top: 0;
  }
}

.cardsBody {
  display: flex;
  flex-wrap: wrap;
  margin: 61px -10px;
  & h1 {
    font-weight: 500;
    color: #6b6b6b;
    margin: 0 auto;
    font-size: 31px;
  }
  @media (max-width: $mediaWidthIPadMini) {
    margin-top: 32px;
  }
}
